@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-amber-400: #fbbf24;
  --color-amber-600: #d97706;
  --color-zinc-50: #fafafa;
  --color-zinc-900: #18181b;
  --color-zinc-950: #09090b;
  --color-zinc-100: #f4f4f5;
}

@layer base {
  html, body, #root {
    height: 100%;
    margin: 0;
  }
}
